:root {
    --text-color: violet;

} /*lớp giả, có thể sử dụng các biến bên trong này một cách global*/
/*Ta cũng có thể định nghĩa biến đó trong local*/
h1,h2,h3 {
    color: var(--text-color)
}

.test {
    position: relative;
    background-color: yellow;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
        align-items: center;
}

.test9 {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    
    
    text-align:justify;
}
span {
    width: 1000px;
    display: block;
    text-align: center;
}

.can {
    justify-content: center;
    width: 300px;
    background-color: pink;
}